form{
	width: 40%;
	margin: 50px auto;

}
fieldset{
	padding: 40px;
	border-radius: 10px;
}
.down{
	padding: 8px 30px;
	background: #eeaeca;
	color: #fff;
}
.group{
	margin-bottom: 9px;
}
.group label{
	display: block;
}
.group input{
	width: 100%;
	padding: 9px;
	border:2px solid grey;
	border-radius: 10px;
}